@page "/_Host"
@namespace ResumeAligner.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

@using ResumeAligner.Components.Layout

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>ResumeAligner</title>
    <base href="~/" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="app.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
</head>
<body>
    <app>
        <component type="typeof(ResumeAligner.Components.App)" render-mode="Server" />
    </app>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>